//
//  Shared-OSX.xcconfig
//  SimpleGeo
//

SYMROOT = ../SimpleGeo-build
INSTALL_PATH = @executable_path/../Frameworks
MACOSX_DEPLOYMENT_TARGET = 10.5
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1.1.5
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = SimpleGeo
WRAPPER_EXTENSION = framework
ALWAYS_SEARCH_USER_PATHS = NO
FRAMEWORK_SEARCH_PATHS = "$(SRCROOT)"/**
GCC_MODEL_TUNING = G5
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = SimpleGeo_Prefix.pch
