//
//  Shared.xcconfig
//  SimpleGeo
//

#include "../../Shared/Config/Global.xcconfig"

IPHONEOS_DEPLOYMENT_TARGET = 4.0
DEAD_CODE_STRIPPING = NO
LINK_WITH_STANDARD_LIBRARIES = NO
MACH_O_TYPE = mh_object
OTHER_LDFLAGS = -ObjC
PREBINDING = NO
INFOPLIST_FILE = SimpleGeo-Info.plist
GCC_PREFIX_HEADER = SimpleGeo-Prefix.pch
