//
//  Shared-iOS.xcconfig
//  SimpleGeo
//

IPHONEOS_DEPLOYMENT_TARGET = 4.0
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1.1.5
DEAD_CODE_STRIPPING = NO
LINK_WITH_STANDARD_LIBRARIES = NO
MACH_O_TYPE = mh_object
OTHER_LDFLAGS = -ObjC
PREBINDING = NO
INFOPLIST_FILE = SimpleGeo-Info.plist
PRODUCT_NAME = SimpleGeo
WRAPPER_EXTENSION = framework
ALWAYS_SEARCH_USER_PATHS = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/../ext"
GCC_MODEL_TUNING = G5
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = SimpleGeo_Prefix.pch
